{
    "presets": [
        "@babel/preset-env"
    ],
    "env": {
        "test": {
            "plugins": [
                "istanbul"
            ]
        }
    },
    "plugins": [
        "@babel/plugin-syntax-jsx"
    ],
    "sourceMaps": true
}